
.p-datatable-thead{
  font-size: 14px;
  }
  .p-datatable-header{
    padding: 5px !important;
  }
.green-cell {
  background-color: green;
  color: white; 
  padding: 10px !important;
  border-radius: 8px;
}

.red-cell {
  background-color: red;
  color: white;
  padding: 10px !important; 
  border-radius: 15px;
}
.custom-border{
  border: 2px solid #dee2e6 !important;
}
.user-profile .header-profile-user{
  width: 70px !important;
  height: 70px !important;
}





